streamlit>=1.45.0
ollama>=0.5.0
pandas>=2.2.2
numpy>=1.26.4
PyMuPDF>=1.24.5
sentence-transformers>=3.0.1
faiss-cpu>=1.8.0
scikit-learn>=1.5.0
python-docx>=1.1.2
openpyxl>=3.1.5
plotly>=5.22.0
matplotlib>=3.9.0
seaborn>=0.13.2
pyttsx3>=2.90
vosk>=0.3.45
sounddevice>=0.5.0
SpeechRecognition>=3.10.4
fastapi>=0.115.0
uvicorn>=0.30.0
sqlalchemy>=2.0.31
passlib>=1.7.4

bcrypt>=4.2.0
